* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1d2635;
}

.meme__container {
    width: 40rem;
    margin: 0 auto;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 0.6fr;

}

.meme__slider {
    grid-column: 1/3;
    height: 30rem;
}

.meme__slider-imgs {
    display: flex;
    height: 100%;
    box-shadow: 6px 4px 10px #18191a;
    overflow: hidden;
}

.meme__img {
    width: 40rem;
    transition: all 0.5s ease;
    object-fit: cover;
}

.meme__text-slider {
    margin-top: 3rem;
    overflow: hidden;
    width: 100%;
}

.meme__text-container {
    display: flex;
    transition: all 0.15s ease;
}

.meme__text{
    flex: 0 0 100%;
}

input {
    display: none;
}

.meme__slider-bullets {
    display: inline-flex;
    justify-content: center;
    margin: 50px 0;
}

.meme__slider-bullet {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid #fff 3px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 5px;
}

.meme__slider-bullet:hover {background: #fff;}

#img1:checked ~ .meme__slider .meme__slider-imgs .i1{
    margin-left: 0;
}

#img2:checked ~ .meme__slider .meme__slider-imgs .i2
{
    margin-left: -40rem;
}

#img3:checked ~ .meme__slider .meme__slider-imgs .i3{
    margin-left: -80rem;
}

#img4:checked ~ .meme__slider .meme__slider-imgs .i4{
    margin-left: -120rem;
}

/*------------------------------------------------*/

#img1:checked ~ .meme__text-slider .meme__text-container {
    transform: translateX(0px);
}

#img2:checked ~ .meme__text-slider .meme__text-container {
    transform: translateX(-100%);
}

#img3:checked ~ .meme__text-slider .meme__text-container {
    transform: translateX(-200%);
}

#img4:checked ~ .meme__text-slider .meme__text-container {
    transform: translateX(-300%);
} 

@media screen and (max-width: 768px) {
    .meme__img {
        height: 400px;
    }
    .meme__text-slider {
        text-align: center;
    }
}